@import url('https://fonts.googleapis.com/css?family=Adamina');
@import url('https://fonts.googleapis.com/css?family=Andada');
@import url('https://fonts.googleapis.com/css?family=Battambang');
@import url('https://fonts.googleapis.com/css?family=Bokor');

@media screen and (max-width: 600px) {
  .navigation-menu a:not(:first-child) {display: none;}
  .navigation-menu a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navigation-menu.responsive {position: relative;}
  .navigation-menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navigation-menu {
  display: block;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding: 25px 25px;
}


.navigation-menu a {
  padding: 25px 25px;
  color: #E75480;
  text-decoration: none;
  font-family: 'Adamina';
  font-size: 25px;
  text-align: center;
}

.navigation-menu a:hover {
  background-color: #a9a9a9;
  color: black;
}

nav a.active {
  background-color: #a9a9a9;
  color: black;
}

.navigation-menu .icon {
  display: none;
}

footer{
  min-height: 5vh;
  text-align: center;
  margin-top: 50px;
}

body{
    background-image: url("../images/gray-solid-background.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
  }

h1{
  font-size: 30px;
  text-align: center;
  font-family: 'Andana';
  color: #E75480;
  margin-bottom: 10px;
}

h2{
  font-family: 'Bokora';
  text-align: center;
  font-size: 25px;
}

h3{
  font-size: 20px;
  text-align: center;
  font-family: 'Battambang';
  display:block;
  margin-bottom: 25px;
}

p{
  font-size: 20px;
}

h3.country{
  color: #E75480;
  font-size: 27px;
  border: 5px;
  border-radius: 5px;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  border-style: solid;
  padding-left: 5px;
  padding-right: 8px;
  display: block;
  width: 200px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

a.skip{
  position:relative;
  left: -350px;
}

a.skip:focus{
  left: 10px;
  border: 2px solid black;
}

a:hover{
  background: #ffffff ;
}

.homepage {
  text-align: center;
}


img.worldmap {
  display:flex;
  width: 42%;
  height: 25%;
  margin:auto;
  margin-left: 25px;
}
.container-about{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  font-family: 'Adamina';
  background: white;
  text-align: left;
  border-radius: 18px;
  padding: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
  box-shadow: 3px 5px #888888;
}

div.text h3{
  padding-right: 5px;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
  resize: vertical;
}

input[type=email] {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 12px;
resize: vertical;

}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.errorMsg {
  font-family: 'Adamina';font-size: 18px;
  color:red;
  display:none; }

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  text-align:center;
  width: 100vh;
  margin: auto;
  justify-content: center;
}

.contactinfo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.slideshow-container {
  display: flex;
  max-width: 50%;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 3s linear;
  transition-delay: 1s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow-image {
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container-image {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 70px;
  grid-row-gap: 10em;
  justify-content: center;
  object-fit: cover;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 300px;
  height: 300px;
}

.flip-card-back {
  background-color: #f3f3f3;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back h1, p {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.flip-card-back a {
  background-color: #595959;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.flip-card-back a:hover {
  background-color: #808080;
}

.callout {
  position: fixed;
  top: 200px;
  right: 20px;
  margin-left: 20px;
  max-width: 250px;
}

.callout-header {
  padding: 15px 8px;
  background: #595959;
  font-size: 25px;
  color: white;
}

.callout-container {
  padding: 10px;
  background-color: #f3f3f3;
  color: black;
  text-align: center;
}
.callout-text {
  margin:auto;
}
.closebutton {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #0d0c0c;
  font-size: 30px;
  cursor: pointer;
}

.closebutton:hover {
  color: lightgrey;
}

#modalbutton {
  background-color:#595959;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #595959;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Adamina';
	font-size:15px;
	padding:9px ;
	text-decoration:none;
  margin: auto;
}

#modalbutton:hover {
  background-color:#808080;
}
#modalbutton:active {
	position:relative;
	top:1px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1000px){

  body{
    background-image: url("../images/gray-solid-background.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

.container-form input, textarea{
  padding: 25px;
  font-size: 20px;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}

  .contactinfo {
    display: flex;
    justify-content: center;
  }
  div.text h3{
    padding-right: 5px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
  }

  p{
    font-size: 20px;
  }
  .errorMsg {
    font-family: 'Adamina';
    font-size: 14px;
    color:red;
    display:none;
  }

  .container-image {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 70px;
    grid-row-gap: 8.5em;
    justify-content: center;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;

  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img {
    width: 300px;
    height: 300px;
  }

  .flip-card-back {
    background-color: #f3f3f3;
    color: black;
    transform: rotateY(180deg);
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }


  .flip-card-back a {
    background-color:  #595959;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .flip-card-back a:hover {
    background-color: #808080;
  }

}

@media screen and (min-width: 320px) and (max-width: 480px){

  .slideshow-container {
    display: flex;
    max-width: 100%;
    position: relative;
    margin: auto;
  }
p{
  font-size: 20px;
  text-align: center;
  margin:auto;
  margin-bottom: 20px;
}

img.worldmap {
  display:block;
  width: 90%;
  margin:auto;
}
.container-about{
  display: block;
}

.about-text {
  background: white;
  text-align: left;
  border-radius: 18px;
  padding: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  box-shadow: 3px 5px #888888;
}
.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  text-align:center;
  width: 300px;
  margin: auto;
  justify-content: center;
}

.errorMsg {
  font-family: 'Adamina';
  font-size: 14px;
  color:red;
  display:none; }

div.text h3{
  text-align: center;
  margin:0;
  margin-bottom: 10px;
}

div.text p{
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

div.text a {
  margin-top: 5px;
}

.container-image {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto;
  grid-row-gap: 8em;
  justify-content: center;
  margin: auto;
  margin-right: 50px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 300px;
  height: 300px;
}

.flip-card-back {
  background-color: #f3f3f3;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back h1, p {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.flip-card-back a {
  background-color:  #595959;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.flip-card-back a:hover {
  background-color: #808080;
}

.callout {
  display: none;
}

}
